.layout {
  max-width: $layout-max-width;
  margin: 0 auto;
  min-height: $layout-min-height;

  .header {
    background: $color-bg-header;
  }

  .content {
    background-color: $color-bg-content;
  }

  .footer {
    background: $color-bg-footer;
    color: $color-text-footer;
  }
}
