.list {
  padding: 50px 30px;
  width: 100%;

  :global(.ant-row) {
    justify-content: center;
  }

  :global(.ant-list) {
      width: 100%;
  }
}

.fade-enter {
  opacity: 0;
  transform: scale(0.98);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: all 300ms ease;
}
