$color-bg-content: aliceblue;
$color-bg-footer: #000;
$color-bg-header: #000;
$color-text-footer: #888;
$color-text-main: #fff;
$color-user-card: lightblue;

$layout-max-width: 1280px;
$layout-min-height: 100vh;

$padding-content: 24px;